ol, ul { padding-left: 2rem; }

ol, ul, dl { margin-top: 0; margin-bottom: 1rem; }

.list-group { --bs-list-group-color: #fff; --bs-list-group-bg: transparent; --bs-list-group-border-color: rgba(255, 255, 255, 0.2); --bs-list-group-border-width: 0; --bs-list-group-border-radius: var(--bs-border-radius); --bs-list-group-item-padding-x: 2rem; --bs-list-group-item-padding-y: 1rem; --bs-list-group-action-color: #fff; --bs-list-group-action-hover-color: #fff; --bs-list-group-action-hover-bg: rgba(255, 255, 255, 0.4); --bs-list-group-action-active-color: var(--bs-body-color); --bs-list-group-action-active-bg: var(--bs-secondary-bg); --bs-list-group-disabled-color: rgba(255, 255, 255, 0.7); --bs-list-group-disabled-bg: transparent; --bs-list-group-active-color: #fff; --bs-list-group-active-bg: #e83283; --bs-list-group-active-border-color: #e83283; display: flex; flex-direction: column; padding-left: 0; margin-bottom: 0; border-radius: var(--bs-list-group-border-radius); }

.list-group-item { position: relative; display: block; padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x); color: var(--bs-list-group-color); text-decoration: none; background-color: var(--bs-list-group-bg); border: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color); }

.list-group-item:first-child { border-top-left-radius: inherit; border-top-right-radius: inherit; }

.list-group-item:last-child { border-bottom-right-radius: inherit; border-bottom-left-radius: inherit; }

.list-group-item.disabled, .list-group-item:disabled { color: var(--bs-list-group-disabled-color); pointer-events: none; background-color: var(--bs-list-group-disabled-bg); }

.list-group-item + .list-group-item { border-top-width: 0; }

.list-group-flush { border-radius: 0; }

.list-group-flush > .list-group-item { border-width: 0 0 var(--bs-list-group-border-width); }

.list-group-flush > .list-group-item:last-child { border-bottom-width: 0; }

.list-group { border: none; box-shadow: inset 1px 1px rgba(255, 255, 255, 0.2), inset -1px -1px rgba(255, 255, 255, 0.1), 1px 3px 24px -1px rgba(0, 0, 0, 0.15); background-color: transparent; background-image: linear-gradient(125deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.2) 70%); -webkit-backdrop-filter: blur(5px); backdrop-filter: blur(5px); }
