label { display: inline-block; }

input, button, select, optgroup, textarea { margin: 0; font-family: inherit; font-size: inherit; line-height: inherit; }

.row { --bs-gutter-x: 1.5rem; --bs-gutter-y: 0; display: flex; flex-wrap: wrap; margin-top: calc(-1 * var(--bs-gutter-y)); margin-right: calc(-0.5 * var(--bs-gutter-x)); margin-left: calc(-0.5 * var(--bs-gutter-x)); }

.row > * { flex-shrink: 0; width: 100%; max-width: 100%; padding-right: calc(var(--bs-gutter-x) * 0.5); padding-left: calc(var(--bs-gutter-x) * 0.5); margin-top: var(--bs-gutter-y); }

.g-3, .gx-3 { --bs-gutter-x: 1rem; }

.g-3, .gy-3 { --bs-gutter-y: 1rem; }

@media (min-width: 768px) {
.col-md-6 { flex: 0 0 auto; width: 50%; }
}

.form-label { margin-bottom: 0.5rem; }

.form-control { display: block; width: 100%; padding: 1rem 0; font-size: 1rem; font-weight: 400; line-height: 1.5; color: #666; -webkit-appearance: none; -moz-appearance: none; appearance: none; background-color: transparent; background-clip: padding-box; border: 0 solid transparent; border-radius: 0; transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }

@media (prefers-reduced-motion: reduce) {
.form-control { transition: none; }
}

.form-control:focus { color: #666; background-color: transparent; border-color: #90cbf9; outline: 0; box-shadow: 0 0 0 0.25rem rgba(33, 150, 243, 0.25); }

.form-control::-webkit-date-and-time-value { min-width: 85px; height: 1.5em; margin: 0; }

.form-control::-webkit-datetime-edit { display: block; padding: 0; }

.form-control::placeholder { color: rgba(0, 0, 0, 0.4); opacity: 1; }

.form-control:disabled { background-color: transparent; opacity: 1; }

.form-control::-webkit-file-upload-button { padding: 1rem 0; margin: -1rem 0; -webkit-margin-end: 0; margin-inline-end: 0; color: #666; background-color: var(--bs-tertiary-bg); background-image: var(--bs-gradient); pointer-events: none; border-color: inherit; border-style: solid; border-width: 0; border-inline-end-width: 0; border-radius: 0; -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }

.form-control::file-selector-button { padding: 1rem 0; margin: -1rem 0; -webkit-margin-end: 0; margin-inline-end: 0; color: #666; background-color: var(--bs-tertiary-bg); background-image: var(--bs-gradient); pointer-events: none; border-color: inherit; border-style: solid; border-width: 0; border-inline-end-width: 0; border-radius: 0; transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }

@media (prefers-reduced-motion: reduce) {
.form-control::-webkit-file-upload-button { transition: none; }
.form-control::file-selector-button { transition: none; }
}

.form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button { background-color: var(--bs-secondary-bg); }

.form-control:hover:not(:disabled):not([readonly])::file-selector-button { background-color: var(--bs-secondary-bg); }

.valid-feedback { display: none; width: 100%; margin-top: 0.25rem; font-size: 0.875em; color: var(--bs-form-valid-color); }

.was-validated :valid ~ .valid-feedback, .was-validated :valid ~ .valid-tooltip, .is-valid ~ .valid-feedback, .is-valid ~ .valid-tooltip { display: block; }

.was-validated .form-control:valid, .form-control.is-valid { border-color: var(--bs-form-valid-border-color); padding-right: calc(1.5em + 2rem); background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%234caf50' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1'/%3e%3c/svg%3e"); background-repeat: no-repeat; background-position: right calc(0.375em + 0.5rem) center; background-size: calc(0.75em + 1rem) calc(0.75em + 1rem); }

.was-validated .form-control:valid:focus, .form-control.is-valid:focus { border-color: var(--bs-form-valid-border-color); box-shadow: 0 0 0 0.25rem rgba(var(--bs-success-rgb), 0.25); }

body, input, button { letter-spacing: 0.1px; }

textarea, textarea.form-control, input.form-control, input[type="text"], input[type="password"], input[type="email"], input[type="number"], [type="text"].form-control, [type="password"].form-control, [type="email"].form-control, [type="tel"].form-control, [contenteditable].form-control { box-shadow: rgb(221, 221, 221) 0px -1px 0px inset; transition: box-shadow 0.2s; }

textarea:focus, textarea.form-control:focus, input.form-control:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="number"]:focus, [type="text"].form-control:focus, [type="password"].form-control:focus, [type="email"].form-control:focus, [type="tel"].form-control:focus, [contenteditable].form-control:focus { box-shadow: rgb(33, 150, 243) 0px -2px 0px inset; }
