p { margin-top: 0; margin-bottom: 1rem; }

blockquote { margin: 0 0 1rem; }

.blockquote { margin-bottom: 1rem; font-size: 1.25rem; }

.blockquote > :last-child { margin-bottom: 0; }

.blockquote-footer { margin-top: -1rem; margin-bottom: 1rem; font-size: 0.875em; color: rgba(50, 251, 226, 0.3); }

.blockquote-footer::before { content: "— "; }

.blockquote-footer { text-shadow: 0 0 1px rgba(21, 104, 94, 0.3), 0 0 2px rgba(21, 104, 94, 0.3), 0 0 5px rgba(21, 104, 94, 0.2); }
