img, svg { vertical-align: middle; }

.img-thumbnail { padding: 0.25rem; background-color: var(--bs-body-bg); border: var(--bs-border-width) solid var(--bs-border-color); max-width: 100%; height: auto; }
