input, button, select, optgroup, textarea { margin: 0; font-family: inherit; font-size: inherit; line-height: inherit; }

.form-control { display: block; width: 100%; padding: 1rem 0; font-size: 1rem; font-weight: 400; line-height: 1.5; color: #666; -webkit-appearance: none; -moz-appearance: none; appearance: none; background-color: transparent; background-clip: padding-box; border: 0 solid transparent; border-radius: 0; transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }

@media (prefers-reduced-motion: reduce) {
.form-control { transition: none; }
}

.form-control:focus { color: #666; background-color: transparent; border-color: #90cbf9; outline: 0; box-shadow: 0 0 0 0.25rem rgba(33, 150, 243, 0.25); }

.form-control::-webkit-date-and-time-value { min-width: 85px; height: 1.5em; margin: 0; }

.form-control::-webkit-datetime-edit { display: block; padding: 0; }

.form-control::placeholder { color: rgba(0, 0, 0, 0.4); opacity: 1; }

.form-control:disabled { background-color: transparent; opacity: 1; }

.form-control::-webkit-file-upload-button { padding: 1rem 0; margin: -1rem 0; -webkit-margin-end: 0; margin-inline-end: 0; color: #666; background-color: var(--bs-tertiary-bg); background-image: var(--bs-gradient); pointer-events: none; border-color: inherit; border-style: solid; border-width: 0; border-inline-end-width: 0; border-radius: 0; -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }

.form-control::file-selector-button { padding: 1rem 0; margin: -1rem 0; -webkit-margin-end: 0; margin-inline-end: 0; color: #666; background-color: var(--bs-tertiary-bg); background-image: var(--bs-gradient); pointer-events: none; border-color: inherit; border-style: solid; border-width: 0; border-inline-end-width: 0; border-radius: 0; transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }

@media (prefers-reduced-motion: reduce) {
.form-control::-webkit-file-upload-button { transition: none; }
.form-control::file-selector-button { transition: none; }
}

.form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button { background-color: var(--bs-secondary-bg); }

.form-control:hover:not(:disabled):not([readonly])::file-selector-button { background-color: var(--bs-secondary-bg); }

.input-group { position: relative; display: flex; flex-wrap: wrap; align-items: stretch; width: 100%; }

.input-group > .form-control, .input-group > .form-select, .input-group > .form-floating { position: relative; flex: 1 1 auto; width: 1%; min-width: 0; }

.input-group > .form-control:focus, .input-group > .form-select:focus, .input-group > .form-floating:focus-within { z-index: 5; }

.input-group-text { display: flex; align-items: center; padding: 1rem 0; font-size: 1rem; font-weight: 400; line-height: 1.5; color: #666; text-align: center; white-space: nowrap; background-color: transparent; border: 0 solid transparent; border-radius: 0; }

.input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating), .input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n+3), .input-group:not(.has-validation) > .form-floating:not(:last-child) > .form-control, .input-group:not(.has-validation) > .form-floating:not(:last-child) > .form-select { border-top-right-radius: 0; border-bottom-right-radius: 0; }

.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) { margin-left: calc(-1 * 0); border-top-left-radius: 0; border-bottom-left-radius: 0; }

.mb-3 { margin-bottom: 1rem !important; }

body, input, button { letter-spacing: 0.1px; }

textarea, textarea.form-control, input.form-control, input[type="text"], input[type="password"], input[type="email"], input[type="number"], [type="text"].form-control, [type="password"].form-control, [type="email"].form-control, [type="tel"].form-control, [contenteditable].form-control { box-shadow: rgb(221, 221, 221) 0px -1px 0px inset; transition: box-shadow 0.2s; }

textarea:focus, textarea.form-control:focus, input.form-control:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="number"]:focus, [type="text"].form-control:focus, [type="password"].form-control:focus, [type="email"].form-control:focus, [type="tel"].form-control:focus, [contenteditable].form-control:focus { box-shadow: rgb(33, 150, 243) 0px -2px 0px inset; }
