label { display: inline-block; }

input, button, select, optgroup, textarea { margin: 0; font-family: inherit; font-size: inherit; line-height: inherit; }

.row { --bs-gutter-x: 1.5rem; --bs-gutter-y: 0; display: flex; flex-wrap: wrap; margin-top: calc(-1 * var(--bs-gutter-y)); margin-right: calc(-0.5 * var(--bs-gutter-x)); margin-left: calc(-0.5 * var(--bs-gutter-x)); }

.row > * { flex-shrink: 0; width: 100%; max-width: 100%; padding-right: calc(var(--bs-gutter-x) * 0.5); padding-left: calc(var(--bs-gutter-x) * 0.5); margin-top: var(--bs-gutter-y); }

.g-3, .gx-3 { --bs-gutter-x: 1rem; }

.g-3, .gy-3 { --bs-gutter-y: 1rem; }

@media (min-width: 768px) {
.col-md-6 { flex: 0 0 auto; width: 50%; }
}

.form-check { display: block; min-height: 1.5rem; padding-left: 1.5em; margin-bottom: 0.125rem; }

.form-check .form-check-input { float: left; margin-left: -1.5em; }

.form-check-input { --bs-form-check-bg: var(--bs-body-bg); flex-shrink: 0; width: 1em; height: 1em; margin-top: 0.25em; vertical-align: top; -webkit-appearance: none; -moz-appearance: none; appearance: none; background-color: var(--bs-form-check-bg); background-image: var(--bs-form-check-bg-image); background-repeat: no-repeat; background-position: center; background-size: contain; border: var(--bs-border-width) solid var(--bs-border-color); -webkit-print-color-adjust: exact; color-adjust: exact; print-color-adjust: exact; }

.form-check-input[type="checkbox"] { border-radius: 0.25em; }

.form-check-input:active { filter: brightness(90%); }

.form-check-input:focus { border-color: #333; outline: 0; box-shadow: 0 0 0 0.25rem rgba(51, 51, 51, 0.25); }

.form-check-input:checked { background-color: #333; border-color: #333; }

.form-check-input:checked[type="checkbox"] { --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e"); }

.form-check-input[type="checkbox"]:indeterminate { background-color: rgb(51, 51, 51); border-color: rgb(51, 51, 51); --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e"); }

.form-check-input:disabled { pointer-events: none; filter: none; opacity: 0.5; }

.form-check-input[disabled] ~ .form-check-label, .form-check-input:disabled ~ .form-check-label { cursor: default; opacity: 0.5; }

.valid-feedback { display: none; width: 100%; margin-top: 0.25rem; font-size: 0.875em; color: var(--bs-form-valid-color); }

.was-validated :valid ~ .valid-feedback, .was-validated :valid ~ .valid-tooltip, .is-valid ~ .valid-feedback, .is-valid ~ .valid-tooltip { display: block; }

.was-validated .form-check-input:valid, .form-check-input.is-valid { border-color: var(--bs-form-valid-border-color); }

.was-validated .form-check-input:valid:checked, .form-check-input.is-valid:checked { background-color: var(--bs-form-valid-color); }

.was-validated .form-check-input:valid:focus, .form-check-input.is-valid:focus { box-shadow: 0 0 0 0.25rem rgba(var(--bs-success-rgb), 0.25); }

.was-validated .form-check-input:valid ~ .form-check-label, .form-check-input.is-valid ~ .form-check-label { color: var(--bs-form-valid-color); }

button, input, optgroup, select, textarea { font-family: Neucha, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; }

input, .form-control, .input-group-text { border-radius: 255px 25px 225px 25px/25px 225px 25px 255px; }

[type="checkbox"] { position: relative; width: 0px; height: 0px; appearance: none; cursor: pointer; border-width: medium; border-style: none; border-color: currentcolor; border-image: initial; }

[type="checkbox"]::before { position: absolute; top: -0.1em; left: 0px; display: inline-block; width: 15px; height: 16px; content: ""; border: 2px solid rgb(51, 51, 51); border-radius: 2px 8px 2px 4px / 5px 3px; }

[type="checkbox"]:focus::before { box-shadow: rgba(51, 51, 51, 0.25) 0px 0px 0px 0.25rem; }

[type="checkbox"]:checked::after, [type="checkbox"]:indeterminate::after { position: absolute; top: 0px; left: 0.1em; font-size: 1.5rem; line-height: 0.5; color: rgb(51, 51, 51); }

[type="checkbox"]:checked::after { content: "x"; }

[type="checkbox"]:indeterminate::after { top: 0.1em; content: "-"; }

[type="checkbox"]:disabled::before { border: 2px solid rgb(170, 170, 170); }

.form-check-input:focus { box-shadow: none; }
