p { margin-top: 0; margin-bottom: 1rem; }

b, strong { font-weight: bolder; }

small, .small { font-size: 0.875em; }

mark, .mark { padding: 0.1875em; color: var(--bs-highlight-color); background-color: var(--bs-highlight-bg); }

b, strong { font-family: "Cabin Sketch", cursive; }
